body{
    background-color: rgb(17, 189, 189);
    font: normal;
}

header {
    color: white;
    text-align: center;

}

section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.555);
    text-align: center;

}

footer{
    color: white;
    text-align: center;
    font-style: italic;

}
div#msg{
    padding: 15px;
}